<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="MyWeatherSwitch.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="MyWeatherSwitch.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
   </startup>
   <userSettings>
      <MyWeatherSwitch.My.MySettings>
         <setting name="WindSpeedOffSwitch" serializeAs="String">
            <value>15</value>
         </setting>
         <setting name="TimerOnTime" serializeAs="String">
            <value>0600</value>
         </setting>
         <setting name="TimerOffTime" serializeAs="String">
            <value>2000</value>
         </setting>
         <setting name="WriteHTMLFile" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="HTMLOutFileLocation" serializeAs="String">
            <value>C:\DLRStuff\MySwitchData\</value>
         </setting>
         <setting name="StationIDMain" serializeAs="String">
            <value>KOROTIS10</value>
         </setting>
         <setting name="WriteStatistcalFile" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="StatisticalFileLocation" serializeAs="String">
            <value>C:\DLRStuff\MySwitchData\</value>
         </setting>
         <setting name="SwitchLogLocation" serializeAs="String">
            <value>C:\DLRStuff\MySwitchData\</value>
         </setting>
         <setting name="SleepTimer" serializeAs="String">
            <value>60000</value>
         </setting>
         <setting name="MondayOn1" serializeAs="String">
            <value>10</value>
         </setting>
         <setting name="MondayOn2" serializeAs="String">
            <value>100</value>
         </setting>
         <setting name="MondayOn3" serializeAs="String">
            <value>250</value>
         </setting>
         <setting name="MondayOn4" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="MondayOff1" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="MondayOff2" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="MondayOff3" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="MondayOff4" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="TuesdayOn1" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="TuesdayOn2" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="TuesdayOn3" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="TuesdayOn4" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="TuesdayOff1" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="TuesdayOff2" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="TuesdayOff3" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="TuesdayOff4" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="WednesdayOn1" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="WednesdayOn2" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="WednesdayOn3" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="WednesdayOn4" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="WednesdayOff1" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="WednesdayOff2" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="WednesdayOff3" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="WednesdayOff4" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="ThursdayOn1" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="ThursdayOn2" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="ThursdayOn3" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="ThursdayOn4" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="ThursdayOff1" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="ThursdayOff2" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="ThursdayOff3" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="ThursdayOff4" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="FridayOn1" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="FridayOn2" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="FridayOn3" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="FridayOn4" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="FridayOff1" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="FridayOff2" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="FridayOff3" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="FridayOff4" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SaturdayOn1" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SaturdayOn2" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SaturdayOn3" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SaturdayOn4" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SaturdayOff1" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SaturdayOff2" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SaturdayOff3" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SaturdayOff4" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SundayOn1" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SundayOn2" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SundayOn3" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SundayOn4" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SundayOff1" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SundayOff2" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SundayOff3" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SundayOff4" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="MondayOn5" serializeAs="String">
            <value>1250</value>
         </setting>
         <setting name="MondayOff5" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="TuesdayOn5" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="TuesdayOff5" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="WednesdayOn5" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="WednesdayOff5" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="ThursdayOn5" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="ThursdayOff5" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="FridayOn5" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="FridayOff5" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SaturdayOn5" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SaturdayOff5" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SundayOn5" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="SundayOff5" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="AccuriteDataFile" serializeAs="String">
            <value>C:\AcuriteData\AcuRite Weather Station\acuriteweather.CSV</value>
         </setting>
         <setting name="StationURLMain" serializeAs="String">
            <value>http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=</value>
         </setting>
         <setting name="StationID1" serializeAs="String">
            <value>KOROTIS8</value>
         </setting>
         <setting name="StationJerome1" serializeAs="String">
            <value>http://www.wunderground.com/personal-weather-station/dashboard?ID=KIDJEROM2</value>
         </setting>
      </MyWeatherSwitch.My.MySettings>
   </userSettings>
   <appSettings >
      <!--Look back 10 days forecast based on 0 based array-->
      <add key="Forecast Days"  value="9" />
      <add key="Station URL"  value="http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KOROTIS10" />
      <add key="Station ID"  value="KOROTIS10" />
      <add key="Statistical File Name"  value="MySwitchStats" />
      
   </appSettings>

   <applicationSettings>

      <MyWeatherSwitch.My.MySettings>
         <setting name="ForeCastDays" serializeAs="String">
            <value>9</value>
         </setting>
      </MyWeatherSwitch.My.MySettings>
   </applicationSettings>

</configuration>